<h2>Customers</h2>
<button type="button" class="btn-primary" (click)="ViewType()">{{gridView?'List':'Grid'}} View</button>&nbsp;&nbsp;
<button type="button" class="btn-primary" ><a routerLinkActive="active" routerLink="addCustomer" style="color: white">Add Customer</a></button>&nbsp;&nbsp;

<div class="container-fluid" *ngIf="gridView">
    <div class="row">
        <div class="col-4  mr-0.5 w-75 p-3" *ngFor="let customer of customers">
<div class="card card-primary" >
    
        <div class="card-heading">
             <h3 class="card-title navbar navbar-dark bg-primary" style="color: white">{{customer.firstName}} {{customer.lastName}}</h3>
             <i class="fa fa-pencil-square-o"></i>
            </div>
        
        <div class="card-body">
      
          <div class="col-10">
      
            <div class="row vertical-align">
      

              <div class="col">
      
                <div class="row">
                  <div class="col-5">
                    Gender
                  </div>
                  <div class="col">
                    : {{customer.gender}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    Address
                  </div>
                  <div class="col">
                    : {{customer.address}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    City
                  </div>
                  <div class="col">
                    : {{customer.city}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    State
                  </div>
                  <div class="col">
                    : {{customer.state}}
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-5">
                    Email
                  </div>
                  <div class="col">
                    : {{customer.email}}
                  </div>
                </div>
                
      
              </div>
      
            </div>
          </div>
        </div>
    
      </div>
    </div>
    </div>
    </div>

    <div class="container" *ngIf="!gridView">

    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr class="table table-primary">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Email</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let customer of customers" >
            <td style="width: 10%">{{customer.firstName}}</td>
              <td style="width: 10%">{{customer.lastName}}</td>
              <td style="width: 10%">{{customer.gender}}</td>
              <td style="width: 10%">{{customer.address}}</td>
              <td style="width: 10%">{{customer.city}}</td>
              <td style="width: 10%">{{customer.state}}</td>
              <td style="width: 20%">{{customer.email}}</td>
              <td style="width: 10%"><button class="btn btn-primary" (click)="setBookId()">Edit</button></td>
              <td style="width: 10%"><button class="btn btn-danger" (click)="deleteBook()">Delete</button></td>
              <hr />
            </tr>
        </tbody>
          </table>
        </div>