<div class="container">
    <!-- <div class="card card-header">

    </div> -->
    <a routerLinkActive="active" routerLink="account" type="button" class="btn btn-info">Account</a>&nbsp;&nbsp;
    <a routerLinkActive="active" routerLink="profile" type="button" class="btn btn-info">Profile</a>&nbsp;&nbsp;
    <a routerLinkActive="active" routerLink="finish" type="button" class="btn btn-info">Finish</a>&nbsp;&nbsp;

    <div class="card card-body">
            
    
            <router-outlet></router-outlet>
        </div>

    
</div>
