<div class="card">
    <div class="card-header">
      <h4 align="center">Edit Book Component</h4>
    </div>
    <div class="card-body">
      <div *ngIf="book">
      <p>
        Book Id: &nbsp; {{bookid}}
      </p>
      <p>
          Book Name:
          <input type="text" [(ngModel)]="book.Name" value="{{book.Name}}"/>
      </p>
  
      <p>
          Publisher
          <input type="text" [(ngModel)]="book.Publisher" value="{{book.Publisher}}"/>
      </p>
  
      <p>
          Price
          <input type="text" [(ngModel)]="book.Price" value="{{book.Price}}"/>
      </p>
  
      <p>
            <img height="80px" width="80px" src="{{book.Thumbnail}}"/><br/><br/>
          Thumbnail Image: (Choose image file)

          <input type="file" [(ngModel)]="thumbnail"/>
      </p>
      
      <button class="btn btn-primary" (click)="EditBook()">
        Edit Book
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" (click)="cancel()">
        Cancel
      </button>
      <br/><br/>
      
    </div>
  </div>
</div>

